<% if @todays_yoga_classes.count == 0 %>
  <h2>No classes today</h2>
<% else %>
  <div class="day today">
    <div class="day_header">
      <span class="prev_day"><%= link_to "", by_day_yoga_classes_path(year: @date.year, month: @date.month, day: @date.day - 1), remote: true %></span>
      <span class="week_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%A") %></span>
      <span class="month"><%= @todays_yoga_classes.first.class_date_time.strftime("%b") %></span>
      <span class="month_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%d") %></span>
      <span class="tomorrow"><%= link_to "", by_day_yoga_classes_path(year: @date.year, month: @date.month, day: @date.day + 1), remote: true %></span>
    </div>
    <%= render @todays_yoga_classes %>
  </div>
<% end %>
