<hgroup>
  <h1>Yoga in the City</h1>
  <h2>curated list of classes with love from @styliii</h2>
</hgroup>
<% if @todays_yoga_classes.count == 0 %>
  <h2>No classes today</h2>
<% else %>
  <div class="day today">
    <div class="day_header">
      <span class="week_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%A") %></span>
      <span class="month"><%= @todays_yoga_classes.first.class_date_time.strftime("%b") %></span>
      <span class="month_day"><%= @todays_yoga_classes.first.class_date_time.strftime("%d") %></span>
      <span class="tomorrow"><%= link_to_tomorrows_classes "tomorrow" %></span>
    </div>

  <% @todays_yoga_classes.each do |yoga_class| %>
    <ul>
      <li class="time"><%= yoga_class.class_date_time.strftime("%I:%M %p") %></li>
      <li class="teacher"><%= yoga_class.teacher.first_name %></li>
      <li class="studio"><%= yoga_class.studio.name %></li>
    </ul>
  <% end %>
  </div>
<% end %>
<br />


